* {
  margin: 0;
  padding: 0;
  font-family: '나눔 고딕', 'NanumGothic', '맑은 고딕', 'Ghothic';
}

li {
  list-style: none;
}

#shape-disc {
  list-style: disc;
  font-family: verdana;
}

body {
  width: 960px;
  margin: 0 auto;
  background-color: #E6E6E6;
}

.aside {
  position: fixed;
  right: 300px;
  top: 350px;
  border: groove #666666;
  border-radius: 10px;
}

#page-wrapper {
  background-color: #FFFFFF;
  margin: 40px 0 0 0;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

#main-header {
  padding: 20px 50px 20px 30px;
}

.master-title {
  font-size: 20px;
  color: #181818;
}

.master-description {
  font-size: 15px;
  color: #383838;
  font-weight: 500;
}

#main-navigation {
  border-top: solid 1px #C8C8C8;
  border-bottom: : solid 1px #C8C8C8;
  margin: 0 0 20px 0;
  height: 40px;
}

.outer-menu-item {
  float: left;
}

.menu-title {
  display: block;
  height: 30px;
  text-align: center;
  padding: 5px 20px 5px 20px;
  color: black;
}

#main-section {
  width: 710px;
}

article {
  padding: 0 30px 20px 10px;
  border-top: solid 1px #C8C8C8;
}

.article-header {
  padding: 20px 0 20px 0;
}

.article-title {
  font-size: 25px;
  padding: 0 0 10px 0;
  font-weight: 500;
}

.article-body {
  font-size: 14px;
}

a {
  margin: 0 0 0 8px;
  font-size: 13px;
  color: #6C6C6C;
  text-decoration: none;
  font-family: "Comic Sans MS";
}

a:link {
  color: black;
}

a:visited {
  color: red;
}

a:hover {
  color: blue;
}

a:active {
  color: red;
}

footer {
  border-top: solid 1px #C8C8C8;
  font-size: 13px;
  color: #666666;
}
